
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

body{ /* Normal  */
      font-size: 16px;
      font-family: 'Sarabun', sans-serif;
      line-height: 1.7em;
  }
td {  /* Table  */
  font-size: 10px;
}
h1.title {
  font-size: 38px;
  color: #424242;
}
h1 { /* Header 1 */
  font-size: 28px;
}
h2 { /* Header 2 */
    font-size: 22px;
}
h3 { /* Header 3 */
  font-size: 20px;
  font-family: 'Sarabun', sans-serif;  
}
code.r{ /* Code block */
    font-size: 12px;
}
pre { /* Code block - determines code spacing between lines */
    font-size: 14px;
}


