
.main-container {
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
}


body{ /* Normal  */
	line-height:1.8;
      font-size: 18px;
      font-family: ChulaCharasNew;
      color: #353b48;
  }

  
td {  /* Table  */
  font-size: 16px;
  line-height:1.5;

}

h1.title {
  font-size: 40px;
  color: #232b2b;
  font-family: CHULALONGKORN;
}

h1 { /* Header 1 */
  font-size: 36px;
  color: #232b2b;
  font-family: CHULALONGKORN;
}

h2 { /* Header 2 */
    font-size: 20px;
  color: #232b2b;
  font-family: CHULALONGKORN;
}
h3 { /* Header 3 */
  font-size: 20px;
  color: #1B78B6;
  line-height:1.5;
  font-family: CHULALONGKORN;

}
code.r{ /* Code block */
    font-size: 14px;
    font-family: ChulaCharasNew;

}
pre { /* Code block - determines code spacing between lines */
    font-size: 14px;
}
ul {
  list-style-type: square;
  style="line-height:1.5;
}
.col2 {
    columns: 2 200px;         /* number of columns and width in pixels*/
    -webkit-columns: 2 200px; /* chrome, safari */
    -moz-columns: 2 200px;    /* firefox */
  }
.col3 {
    columns: 2 height=50px;         /* number of columns and width in pixels*/
    -webkit-columns: 2 50px; /* chrome, safari */
    -moz-columns: 2 50px;    /* firefox */
  }


  .book.font-family-<id> {
    font-family: 'ChulaCharasNew';
  }

