/* css styles */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;700&family=Sarabun:ital,wght@0,400;0,700;1,400&display=swap');

p {
color: "#1A120B";
font-family: Sarabun;
font-size: 12pt;
}

h1 {
color: "#1A120B";
font-size: 18pt;
font-weight: 800;
}

